<div class="row justify-content-center mt-md-5 mt-lg-5">
    <div class="col-lg-10 col-md-12">
        <!-- Title -->
        <h1 class="text-md-center" i18n="Member profile tile">Member Profile</h1>
        <p class="text-md-center text-muted font-italic" i18n="Member profile subtitle">Here is all your member details that we have.</p>

        <!-- Member active status -->
        <div class="mb-4 text-center font-italic">
            <h4>
                <span class="text-success font-weight-bold">
                    <span i18n="You are active label">You are Active</span>&nbsp;<span class="font-small">(Now - 31-12-2021)</span>
                </span>
            </h4>
            <h4>
                <span class="text-danger font-weight-bold">
                    <span i18n="You are inactive label">You are Inactive</span>&nbsp;<span class="font-small">(Now - 31-12-2021)</span>
                </span>
            </h4>
        </div>

        <!-- Member information -->
        <div class="mt-4">
            <h4 class="font-italic" i18n="Profile details title">Profile details</h4>
            <div class="form-row">
                <div class="col-3 mb-3">
                    <label i18n="Member ID label">Member ID</label>
                    <input type="number" class="form-control" value="232" disabled>
                </div>
                <div class="col-9 mb-3">
                    <label i18n="Full name label">Full name</label>
                    <input type="text" class="form-control" value="Martin Erik Rieland Bisgaard" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6 mb-3">
                    <label i18n="Mail label">Mail</label>
                    <input type="email" class="form-control" value="m@m.com" disabled>
                </div>
                <div class="col-6 mb-3">
                    <label i18n="Phone label">Phone</label>
                    <input type="tel" class="form-control" value="+45XXXXXXXX" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6 mb-3">
                    <label i18n="First registered label">First registered</label>
                    <input type="date" class="form-control" value="2019-11-04" disabled>
                </div>
                <div class="col-6 mb-3">
                    <label i18n="Date of birth label">Date of birth</label>
                    <input type="date" class="form-control" value="1994-10-18" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="col mb-3">
                    <button type="submit" class="btn btn-primary mr-3" i18n="Edit details button">Edit details</button>
                    <button type="submit" class="btn btn-secondary mr-3" i18n="Change mail button">Change Mail</button>
                    <button type="submit" class="btn btn-secondary mr-3" i18n="Change password button">Change Password</button>
                </div>
            </div>
            <hr>
        </div>

        <!-- Membership log -->
        <div class="mt-4">
            <h4 class="font-italic" i18n="Membership log title">Membership log</h4>
            <div class="list-group mt-3">
                <div class="list-group-item list-group-item-action list-group-item-secondary">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Membership 2021</h5>
                        <p class="m-0"><span class="badge badge-danger badge-pill">Missing Payment</span></p>
                    </div>
                    <p class="mb-1">This years membership includes a t-shirt and stickers.</p>
                    <div class="d-flex w-100 justify-content-between">
                        <small>This membership runs from 01-01-2021 to 31-12-2021</small>
                        <small>Price: 100,00 DKK</small>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action list-group-item-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Membership 2020</h5>
                        <p class="m-0"><span class="badge badge-success badge-pill">Paid</span></p>
                    </div>
                    <p class="mb-1">This years membership includes the usual stuff like discounts and so on.</p>
                    <div class="d-flex w-100 justify-content-between">
                        <small>This membership runs from 01-01-2020 to 31-12-2020</small>
                        <small>Price: 100,00 DKK</small>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action list-group-item-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Membership 2019</h5>
                        <p class="m-0"><span class="badge badge-success badge-pill">Paid</span></p>
                    </div>
                    <p class="mb-1">This years membership includes a t-shirt and stickers.</p>
                    <div class="d-flex w-100 justify-content-between">
                        <small>This membership runs from 01-01-2019 to 31-12-2019</small>
                        <small>Price: 100,00 DKK</small>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action list-group-item-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Membership 2018</h5>
                        <p class="m-0"><span class="badge badge-secondary badge-pill">Overdue</span></p>
                    </div>
                    <p class="mb-1">This year is the start of something.</p>
                    <div class="d-flex w-100 justify-content-between">
                        <small>This membership runs from 01-01-2018 to 31-12-2018</small>
                        <small>Price: 100,00 DKK</small>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Logout -->
        <div class="mb-5 mt-4">
            <button type="submit" class="btn btn-success btn-block" i18n="Logout button">Logout</button>
        </div>

        <!-- Credits -->
        <div class="d-flex justify-content-md-center mt-5 mb-5">
            <span class="text-muted font-italic">Club Manger</span>
        </div>
    </div>
</div>